* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

.container-game {
    display: grid;
    grid-template-columns: minmax(60px,auto) auto minmax(60px,auto);
}

.container-board {
    display: grid;
    max-width: 1000px;
    max-height: 1000px;
    grid-template-columns: minmax(600px, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
    gap: 20px
}

.player {
    align-self: center;
    justify-self: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.item {
    background: skyblue;
    flex-grow: 1;
    height: 100%;
    border-radius: 20px;
    position: relative;
    border: 2px solid blue;
}

.item::before,
.item::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle), red, black, white, blue, red);
    border-radius: inherit;
    animation: rotation 5s linear infinite;
}

.item::after {
    filter: blur(1rem);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% {--gradient-angle: 360deg;}
}

.header {
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.buttonsFlow {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    gap: 20px;
}

button {
    background-color: #374151;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 0px;
    padding: 10px 20px;
}
